body{
  background-color: lightblue;
  text-align: center;
}

h1 {
  color: purple;
  text-align: center;
  font-family: Helvetica, -apple-system;
  font-weight: bolder;
}

p {
  font-family: Helvetica;
  font-size: 20;
}

.form {
  display: inline-block;
  position: absolute;
  left: 37%;
}
.informacje {
  display: inline-block;
  position: absolute;
  left: 43%;
  top: 20%;
  font-family: 'Segoe UI', -apple-system;
}
.soloqstats {
display: none;
position: absolute;
top: 60%;
left: 50%;
  font-family: 'Segoe UI', -apple-system;
  transform: translate(-50%, -50%);
  margin-top: 10px;
}
.flexqstats {
display: none;
position: absolute;
top: 60%;
left: 50%;
transform: translate(-50%, 55%);
font-family: 'Segoe UI', -apple-system;

}
.error {
  display: none;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
